.div_registry { 
    width: 200px;
    height: 300px;
    background-color: #FFF; 
    align-items: center;
}
  .iconesH{
    width: 150px;
    height: 150px;
}

  .button__ {
    background-color:#0D9DFF ;
    border-radius: 15px;
    padding: 5px 10px;
    border-color: #0D9DFF ;
    color: #FFF;
  }